<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, maximum-scale=0.1, minimum-scale=1.0">
    <title>Song Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Song Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/actionList}">Actions</a>
                </li>
        </div>

    </div>
</nav>
<div class="container">

    <hr/>

    <h3>Add New Song</h3>
    <hr/>

    <form id="233" th:action="@{/saveSong}"  method="post" enctype="multipart/form-data">

        <input type="text" id="singer" th:field="*{song.singer}" class="form-control col-4 mb-4" placeholder="Enter Singer"/>

        <input type="text" id="trackName" th:field="*{song.trackName}" class="form-control col-4 mb-4"
               placeholder="Enter Track name"/>

        <input type="text" th:field="*{song.album}" class="form-control col-4 mb-4" placeholder="Enter album"/>

        <input type="hidden" th:field="*{song.musicFile}" class="form-control col-4 mb-4"/>

        <input type="hidden" th:field="*{song.id}" class="ui-menu-item-wrapper"/>

        <input type="hidden" th:field="*{action.id}"/>

        <input id="description" type="hidden" th:field="*{action.description}"/>

        <input id="file" type="file" name="file" accept=".mp3"/>

        <button id="press" type="submit" class="btn btn-primary col-2">Save</button>


    </form>
    <hr/>
    <a th:href="@{/list}">Back to list</a>
</div>
<script>
    document.getElementById('press').addEventListener('click', () => {
        let singer = document.getElementById('singer').value;
        let trackName = document.getElementById('trackName').value;
        let saveInput = "Добавлена новая композиция " + "\"" + singer + "\" - " + "\"" + trackName + "\"";
        document.getElementById('description').value = saveInput;
    });
</script>
</body>
</html>
